.editor {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    outline: none;
    overflow-y: auto;
    padding-left: 48px;
    counter-reset: line;
}

.editor div {
    display: block;
    position: relative;
    white-space: pre-wrap;
}

.editor div::before {
    content: counter(line);
    counter-increment: line;
    position: absolute;
    right: calc(100% + 16px);
    opacity: 0.5;
}

.editor div.line .comment { color: lightgreen; font-weight: italic }
.editor div.line .label { color: lightseagreen; font-weight: bold }
.editor div.line .directive { font-weight: bold }
.editor div.line > .number { color: deepskyblue }

/*************************************/

body { 
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background: #c2b28f;
    color: #ffbbbb;
    display: grid;
    grid-template-columns: 32px 1fr 16px 1fr 32px;
    grid-template-rows: 64px auto;
}

.container {
    border: 0.25em solid #e4d8b4;
    border-radius: 0.5em;
    overflow: auto;
    padding: 0.5em;
    display: grid;
}

.editor-container {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.8em auto;
}

.memory-container {
    grid-area: 2 / 4 / 3 / 5;
    display: grid;
    grid-template-columns: 6em 0.5em auto;
    grid-template-rows: 1.8em auto;
}

.editor-container .controls {
    grid-area: 1 / 1 / 2 / 2;
}

.memory-container .controls {
    grid-area: 1 / 1 / 2 / 4;
}

.memory-container, .editor-container { background: #272324; color: #dddddd }

.controls a.button {
    display: inline-block;
    padding: 0.1em 0.5em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 0.25em;
    box-sizing: border-box;
    text-decoration: none;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    user-select: none;
}

.controls a.button:hover{
    border-color: rgba(255,255,255,1);
}

.controls a.button:active{
    background-color: #bbbbbb;
    border-color:#BBBBBB;
}

@media all and (max-width:30em){
    a.button{
        display: block;
        margin: 0.2em auto;
    }
}

.button.step { background: #7fa64f }
.button.reset { background: #c84f48 }
.button.hex-dec { background: #1e6e9a }

.memory-container td.address {
    color: lightseagreen;
    padding-right: 10px
}

.memory-display {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.stack-display {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
}

.stack-display table {
    position: absolute;
    bottom: 0;
}
